<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.android.dsly.common"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 8.0安装apk需要的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <!-- 9.0前台服务必须要后的权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
</manifest>
